<!-- login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/user-gear.ico' %}">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' https://fonts.gstatic.com; 
        script-src 'self' 'unsafe-eval' https://cdn.jsdelivr.net https://code.jquery.com https://cdn.datatables.net https://cdnjs.cloudflare.com 'nonce-{{ nonceValue }}'; 
        style-src 'self' https://cdn.datatables.net https://cdn.jsdelivr.net https://fonts.googleapis.com https://cdnjs.cloudflare.com https://stackpath.bootstrapcdn.com 'nonce-{{ nonceValue }}'; 
        font-src 'self' https://stackpath.bootstrapcdn.com https://fonts.gstatic.com https://cdn.jsdelivr.net; 
        form-action 'self'; 
        img-src 'self' data:;">
    
</head>
<body>
    {% block content %}{% endblock %} 
</body>
</html>